* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.qBlock {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
}

.questions ul li {
  margin-top: 10px;
}

#qOne {
  display: none;
}
