* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.qBlock {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 0px 467px 0px;
}

#question {
  font-weight: bold;
  font-size: x-large;
  display: none;
}

#ans {
  display: none;
}

.answers {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(92, 7, 92);
  color: white;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

button {
  border: 0;
  background-color: rgb(92, 7, 92);
  color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

#wrongPop {
  display: none;
  margin-bottom: 20px;
  font-style: italic;
}

#rightPop {
  display: none;
  margin-bottom: 20px;
  font-style: italic;
}

#submit {
  display: none;
}

#scoreSub {
  display: none;
}

#Highscores {
  text-align: left;
  display: none;
}

#seeHighscores {
  cursor: pointer;
}
